*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
}

input,button{
 padding: 5px;
 margin-left:10px ;
 font-size:15px;
 
}

.messages{
  width: 70%;
  margin: auto;
}

ul {
  width: 50%;
  margin: auto;
  list-style: none;
}

ul li {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  padding:5px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
justify-content: space-around;
align-items: center;
}